<div class="details-page">
  <h2><%= locals.message.username%> says :</h1>
  <p class="details-msg"><%- locals.message.message %></p>
  <p class="details-date">Posted at <%= locals.message.created_at.toLocaleString('fr-FR') %></p>
  <a href="/">Go Back</a>
</div>

