<div class="details-page">
  <h2><%= locals.message.user%> says :</h1>
  <p class="details-msg"><%- locals.message.text %></p>
  <p class="details-date">Posted at <%= locals.message.added.toLocaleString('fr-FR') %></p>
  <a href="/">Go Back</a>
</div>

